.logo-section {
    font-size: 30px;
    color: black;
    /* font-size: 70px; */
    font-weight: 900;
    margin-bottom: 14px;
    color: #102039;
    line-height: 1.2;
    margin-bottom: 30px;
    /* text-transform: uppercase; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}